@import 'color-schemer';

$base-color:  #ff0000 !default;
$variation:   'full colors' !default;
$scheme:      'monochromatic' !default;  // monochromatic, adjacent, triad, tetrad
$mode:        'ryb' !default; // rgb, ryb
$angle:       30deg !default;
$complement:  false !default;

$variations: (
  'lightest pale pastel':    (0 77) (0 90) (0 82) (0 68) (0 60),
  'very light pale pastel':  (0 65) (0 86) (0 77) (-26 42) (-44 15),
  'lighter pale pastel':     (-36 48) (0 83) (0 75) (-49 22) (-52 -5),
  'pale pastel':             (-71 9) (-17 83) (-63 42) (-70 -17) (-53 -40),
  'darker pale pastel':      (-77 -35) (-81 15) (-81 -8) (-61 -48) (-44 -57),
  'dark pale pastel':        (-85 -62) (-87 -8) (-87 -35) (-73 -68) (-62 -75),
  'greyish darkest':         (-93 -72) (-79 -16) (-86 -40) (-80 -58) (-65 -50),
  'greyish medium light':    (-95 17) (-78 35) (-94 2) (-92 -10) (-89 -23)
);

@function primary-colors() {
  @return _compose-shades($base-color);
}

@function complement-colors() {
  @if ($complement == false) and ($scheme != 'tetrad') {
    @return _empty-array();
  }

  @return _compose-color(180);
}

@function secondary-1-colors() {
  @if ($scheme == 'triad') {
    @return _compose-color(180 - $angle);
  } @else if ($scheme == 'adjacent') or ($scheme == 'tetrad') {
    @return _compose-color($angle);
  } @else {
    @return _empty-array();
  }
}

@function secondary-2-colors() {
  @if ($scheme == 'triad') or ($scheme == 'tetrad') {
    @return _compose-color(180 + $angle);
  } @else if ($scheme == 'adjacent') {
    @return _compose-color(-$angle);
  } @else {
    @return _empty-array();
  }
}

@function _compose-color($angle) {
    $color: _adjust-hue($angle);
    @return _compose-shades($color);
}

@function _adjust-hue($angle) {
  @return if($mode == 'ryb', ryb-adjust-hue($base-color, $angle), adjust-hue($base-color, $angle));
}

@function _compose-shades($color) {
  $shades: map-get($variations, $variation);

  $colors: ();
  @for $i from 1 through 5 {
    $colors: append($colors, _adjust-color($color, $shades, $i));
  }
  @return $colors;
}

@function _adjust-color($base-color, $shades, $n) {
  $sval: percentage(nth(nth($shades, $n), 1))/100;
  $lval: percentage(nth(nth($shades, $n), 2))/100;
  $color: scale-color($base-color, $saturation: $sval, $lightness: $lval);

  @return $color;
}

@function _empty-array() {
  $arr: ();
  @for $i from 1 through 5 {
    $arr: append($arr, null);
  }
  @return $arr;
}
