$color-secondary-1-0: null;
$color-secondary-1-1: null;
$color-secondary-1-2: null;
$color-secondary-1-3: null;
$color-secondary-1-4: null;

$color-secondary-2-0: null;
$color-secondary-2-1: null;
$color-secondary-2-2: null;
$color-secondary-2-3: null;
$color-secondary-2-4: null;

$base-color: green !default;
$variation: 'full colors' !default;
$model: 'mono' !default;

$variations: (
  'full colors': (0 0) (0 39) (0 22) (0 -22) (0 -39),
  'lightest pale pastel': (0 60) (0 68) (0 77) (0 82) (0 90)
);

@function primary-colors() {
  @return _compose-shades($base-color);
}

@function complement-colors() {
  $compl-color: complement($base-color);
  @return _compose-shades($compl-color);
}

@function _compose-shades($color) {
  $scheme: map-get($variations, $variation);

  $colors: ();
  @for $i from 1 through 5 {
    $colors: append($colors, _adjust-color($color, $scheme, $i));
  }
  @return $colors;
}

@function _adjust-color($base-color, $scheme, $n) {
  $sval: percentage(nth(nth($scheme, $n), 1))/100;
  $lval: percentage(nth(nth($scheme, $n), 2))/100;
  $color: scale-color($base-color, $saturation: $sval, $lightness: $lval);

  @return $color;
}
