$base-color:  #ff0000 !default;
$variation:   'full colors' !default;
$scheme:      'monochromatic' !default;  // monochromatic, adjacent, triad, tetrad
$mode:        'ryb' !default; // rgb, ryb
$angle:       30deg !default;
$complement:  false !default;

$variations: (
  'lightest pale pastel':    (0 77) (0 90) (0 82) (0 68) (0 60),
  'very light pale pastel':  (0 65) (0 86) (0 77) (-26 42) (-44 15),
  'lighter pale pastel':     (-36 48) (0 83) (0 75) (-49 22) (-52 -5),
  'pale pastel':             (-71 9) (-17 83) (-63 42) (-70 -17) (-53 -40),
  'darker pale pastel':      (-77 -35) (-81 15) (-81 -8) (-61 -48) (-44 -57),
  'dark pale pastel':        (-85 -62) (-87 -8) (-87 -35) (-73 -68) (-62 -75),
  'greyish darkest':         (-93 -72) (-79 -16) (-86 -40) (-80 -58) (-65 -50),
  'greyish medium light':    (-95 17) (-78 35) (-94 2) (-92 -10) (-89 -23),
  'bright pastel':           (0 34) (0 96) (0 60) (0 10) (0 0),
  'very light pastel':       (0 42) (0 72) (0 57) (0 29) (-18 5),
  'lighter pastel':          (-39 9) (0 63) (-13 42) (-35 -14) (-17 -38),
  'pastel':                  (-50 -9) (0 65) (-45 24) (-28 -42) (0 -66),
  'darker pastel':           (-57 -41) (-77 -4) (-73 -29) (-43 -55) (-21 -70),
  'dark pastel':             (-64 -65) (-69 -24) (-67 -44) (-50 -56) (-36 -55),
  'greyish dark':            (-95 -55) (-93 -26) (-94 -42) (-92 -58) (-82 -68),
  'greyish lighter':         (-87 60) (-25 82) (-85 45) (-85 25) (-84 12),
  'shiny':                   (0 0) (0 63) (0 43) (0 -14) (0 -35),
  'full colors':             (0 0) (0 38) (0 22) (0 -22) (0 -40),
  'darker colors':           (-12 -28) (-27 18) (-23 -6) (0 -43) (0 -59),
  'darker neon':             (-10 -38) (-2 -8) (-11 -22) (0 -59) (0 -77),
  'dark':                    (0 -60) (-6 -75) (0 -70) (0 -40) (0 -19),
  'deep colors':             (0 -78) (0 -83) (-8 -72) (0 -55) (0 -35),
  'greyish medium dark':     (-96 -29) (-90 -8) (-95 -40) (-94 -52) (-92 -66),
  'greyish lightest':        (0 96) (0 77) (0 85) (0 92) (-67 74)
);
